body {
    background-image: url("starry-sky.jpg");
    min-height: 100%;
}

.container {
    padding-top: 75px;
}

h1 {
    color: #4aaaa5;
    font-family: 'Orbitron';
    font-size: 24px;
    text-align: center;
    padding-left: 10px;
    font-weight: bold;
}


h2 {
    color: #4aaaa5;
    font-family: 'Orbitron';
    font-size: 22px;
    text-align: center;
    font-weight: bold;
}

h4 {
    font-family: 'Georgia', serif;
    font-weight: normal;
    padding-top: 0;
    line-height: 1.5;
}

.guessbox {
  background-color: white;
  padding: 10px;
}
